*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url(./foto/encuesta.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.contenedor-principal{ 
   max-width: 100%;
   margin: auto;
   margin-top: 20px;
}

.contenedor-form{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    background: rgb(112, 238, 238);
    padding: 30px 40px;
}

.titulo{
    font-weight: bold;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;   
}

.form-entrada{
    margin-bottom: 25px;
    background: none;
    }

.form-entrada label {
    margin-top: 15px;
    font-size: 15px;
    color: blueviolet;
}

.form-entrada input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
}


.form-boton input{
    background: rgb(35, 215, 228);
    color: red;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    display: block;
    margin-top: 20px;
    border-radius: 15px;
}

.form-boton input:hover{
    background: blueviolet;
    transition: 0.5;

}

